body {
    font-family: Raleway, sans-serif;
    background-color: gainsboro;
    background-image: url('/static/blog/cover.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}