{% extends "House/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_pagination page_obj %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'House/css/index.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% block content %}

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <section class="search-sec">
        <div class="container">
            <form method="GET" action="{% url 'search' %}"  novalidate="novalidate">
                {% csrf_token %}
                    <div class="col-lg-12">
                        <div class="row justify-content-center">
                            <div class="col-md-2 p-0">
                                <select name="categories" class="form-control search-slt" id="category">
                                    {% for category in categories %}
                                        <option>{{ category.status }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2 p-0">
                                <select name="types" class="form-control search-slt" id="type">
                                    {% for type in types %}
                                        <option>{{ type.status }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select name="cities" class="form-control search-slt" id="cities">
                                    <option value="">Select City</option>
                                    {% for city in cites %}
                                        <option>{{ city.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1 p-0">
                                <input name="min" type="text" class="form-control search-slt" placeholder="min">
                            </div>
                            <div class="col-md-1 p-0">
                                <input name="max" type="text" class="form-control search-slt" placeholder="max">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <button type="submit" class="btn btn-danger wrn-btn">Search</button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </section>
    </div>



{% endblock %}
